<div class="container pt-3">
  <div class="mt-2 p-1 bg-primary text-white rounded text-center">
      <h1>Görev Yönetim Paneli</h1>     
    </div>
    <div class="row">
      <div class="col-6 pt-2">
          <input type="text" class="form-control" [(ngModel)]="taskObj.taskName" placeholder="Görev Adı">
      </div>
  </div>
  <div class="row">
      <div class="col-12 pt-2">
          <textarea class="form-control" rows="3" [(ngModel)]="taskObj.taskDescription" placeholder="Görev Açıklaması"></textarea>
      </div>
  </div>
  <div class="row pt-2">
      <div class="col-2">
          <input type="date" class="form-control" id="textDate" [(ngModel)]="taskObj.dueDate" placeholder="Oluşturulma Tarihi">

      </div>
     
      <div class="col">
        @if(taskObj.itemId ==0){
          <button class="btn btn-success" (click)="addTask()">Görev Ekle</button>
        }
        @else{ 
          <button class="btn btn-warning" (click)="updateTask()">Güncelle</button>
        }
          
      </div>
  </div>
 
  <div class="row pt-4">
      <div class="col ">
        <button class="btn btn-primary btn-sm" (click)="showAll()">Tümünü Göster</button>
        <button class="btn btn-success btn-sm" (click)="showCompleted()">Tamamlanmış Görevler</button>
        <button class="btn btn-secondary btn-sm" (click)="showPending()">Yapılmayı Bekleyen</button>
      </div>
  </div>
  
  <div class="row pt-3">
      <div class="col-12">
          <table class="table table-bordered table-striped table-sm">
              <thead>
                  <tr>
                      <th><strong>Index</strong></th>
                      <th><strong>Görev Adı</strong></th>
                      <th><strong>Görev Açıklama </strong></th>
                      <th><strong>Oluşturulma Tarihi</strong></th>
                      <th class="text-center"><strong>Tags</strong></th>
                  </tr>
              </thead>
              <tbody>


                <tr *ngFor="let item of filteredTaskList; let i = index">
                  <td style="text-align: center;">{{ i + 1 }}</td>
                  <td>
                    <div class="row">
                      <div class="col-1">
                        <input type="checkbox" [(ngModel)]="item.isCompleted">
                      </div>
                      <div class="col-6">
                        {{ item.taskName }}
                      </div>
                     
                    </div>
                  </td>
                  <td>{{ item.taskDescription }}</td>
                  <td>{{ item.dueDate | date: 'dd-MMM-yyyy' }}</td>
                  <td class="text-center">
                    <button class="btn btn-warning btn-sm rounded-btn" (click)="onEdit(item)">Güncelle</button>
                    <button class="btn btn-danger btn-sm rounded-btn" (click)="onDelete(item.itemId)">Sil</button>
                  </td>
                </tr>


              </tbody>
          </table>
      </div>
      <router-outlet></router-outlet>
  </div>
</div>